<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        
        <div class="mat-tree-node d-flex">
            <div class="col-1">
                <button mat-icon-button disabled></button>
            </div>
            <div class="col-2">{{node.name}} <button>addSubTask</button></div>
            <div class="col-2">{{node.id}}</div>
            <div class="col-2">{{node.desc}}</div>
        </div>
    </mat-tree-node>
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div>
            <div class="mat-tree-node d-flex">
                <div class="col-1">
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                </div>
                <div class="col-2">{{node.name}} <button>addSubTask</button></div>
                <div class="col-2">{{node.id}}</div>
                <div class="col-2">{{node.desc}}</div>
            </div>
            <div class="inner-table" [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                <ng-container matTreeNodeOutlet></ng-container>
            </div>
        </div>
    </mat-nested-tree-node>
</mat-tree>