<!-- <div class="chart">
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
        [dataLabels]="chartOptions.dataLabels" [grid]="chartOptions.grid" [stroke]="chartOptions.stroke"
        [title]="chartOptions.title" [labels]="chartOptions.labels"
        [annotations]="chartOptions.annotations"></apx-chart>
</div> -->
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>

<div class="chart">
    <apx-chart
    [series]="donutChartOption.series"
    [chart]="donutChartOption.chart"
    [labels]="donutChartOption.labels"
    [responsive]="donutChartOption.responsive"
  ></apx-chart>
</div>