.chart-outer-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chart-inner-wrap {
    width: calc(33.33% - 40px);
    padding: 20px;
}

.chart-group {
    padding: 20px;
}

.text-center {
    text-align: center;
}

.one-chart , .two-charts{
    width: calc(50% - 40px)
}