<!-- 
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div> -->

<h1>
    Insights for {{date | date}}
</h1>
<div class="chart-wrap">
    <h3>Summary:</h3>
    <div class="chart-outer-wrap">
        <div class="chart-inner-wrap">
            <div class="chart-title">
                In the short term:
            </div>
            <div class="chart">
                <apx-chart [series]="shortTerm.series" [chart]="shortTerm.chart" [labels]="shortTerm.labels"
                    [responsive]="shortTerm.responsive"></apx-chart>
            </div>
        </div>
        <div class="chart-inner-wrap">
            <div class="chart-title">
                In the intermediate term:
            </div>
            <div class="chart">
                <apx-chart [series]="intermediateTerm.series" [chart]="intermediateTerm.chart"
                    [labels]="intermediateTerm.labels" [responsive]="intermediateTerm.responsive"></apx-chart>
            </div>
        </div>
        <div class="chart-inner-wrap">
            <div class="chart-title">
                In the long term:
            </div>
            <div class="chart">
                <apx-chart [series]="longTerm.series" [chart]="longTerm.chart" [labels]="longTerm.labels"
                    [responsive]="longTerm.responsive"></apx-chart>
            </div>
        </div>
    </div>
</div>


<div class="chart-wrap">
    <h3>Index performance:</h3>
    <h4>Dow 30:</h4>
    <div class="chart-outer-wrap">
        <div class="chart-inner-wrap">
            <div class="chart">
                <apx-chart [series]="dowDonut.series" [chart]="dowDonut.chart" [labels]="dowDonut.labels"
                    [responsive]="dowDonut.responsive" [title]="dowDonut.title"></apx-chart>
            </div>
        </div>
        <div class="chart-inner-wrap">
            <div class="chart">
                <apx-chart [series]="dowShortTerm.series" [chart]="dowShortTerm.chart" [labels]="dowShortTerm.labels"
                    [responsive]="dowShortTerm.responsive" [title]="dowShortTerm.title"></apx-chart>
            </div>
        </div>

        <div class="chart-inner-wrap">
            <div class="chart">
                <apx-chart [series]="dowIndexElement.series" [chart]="dowIndexElement.chart"
                    [labels]="dowIndexElement.labels" [responsive]="dowIndexElement.responsive"
                    [title]="dowIndexElement.title"></apx-chart>
            </div>
        </div>
    </div>
</div>

<div class="chart-wrap">
    <h3>S&P 500:</h3>
    <div class="chart-outer-wrap">
        <div class="chart-inner-wrap">
            <div class="chart">
                <apx-chart [series]="sandpDonut.series" [chart]="sandpDonut.chart" [labels]="sandpDonut.labels"
                    [responsive]="sandpDonut.responsive" [title]="sandpDonut.title"></apx-chart>
            </div>
        </div>
        <div class="chart-inner-wrap">
            <div class="chart">
                <apx-chart [series]="sandpShortTerm.series" [chart]="sandpShortTerm.chart" [labels]="sandpShortTerm.labels"
                    [responsive]="sandpShortTerm.responsive" [title]="sandpShortTerm.title"></apx-chart>
            </div>
        </div>

        <div class="chart-inner-wrap">
            <div class="chart">
                <apx-chart [series]="sandpIndexElement.series" [chart]="sandpIndexElement.chart"
                    [labels]="sandpIndexElement.labels" [responsive]="sandpIndexElement.responsive"
                    [title]="sandpIndexElement.title"></apx-chart>
            </div>
        </div>
    </div>
</div>

<div class="chart-wrap">
    <h3>NASDAQ</h3>
    <div class="chart-outer-wrap">
        <div class="chart-inner-wrap">
            <div class="chart">
                <apx-chart [series]="nasdaqDonut.series" [chart]="nasdaqDonut.chart" [labels]="nasdaqDonut.labels"
                    [responsive]="nasdaqDonut.responsive" [title]="nasdaqDonut.title"></apx-chart>
            </div>
        </div>
        <div class="chart-inner-wrap">
            <div class="chart">
                <apx-chart [series]="nasdaqShortTerm.series" [chart]="nasdaqShortTerm.chart" [labels]="nasdaqShortTerm.labels"
                    [responsive]="nasdaqShortTerm.responsive" [title]="nasdaqShortTerm.title"></apx-chart>
            </div>
        </div>
        <div class="chart-inner-wrap">
            <div class="chart">
                <apx-chart [series]="nasdaqIndexElement.series" [chart]="nasdaqIndexElement.chart"
                    [labels]="nasdaqIndexElement.labels" [responsive]="nasdaqIndexElement.responsive"
                    [title]="nasdaqIndexElement.title"></apx-chart>
            </div>
        </div>
    </div>
</div>

<div class="chart-wrap">
    <h3>MidCap</h3>
    <div class="chart-outer-wrap">
        <div class="chart-inner-wrap">
            <div class="chart">
                <apx-chart [series]="midcapDonut.series" [chart]="midcapDonut.chart" [labels]="midcapDonut.labels"
                    [responsive]="midcapDonut.responsive" [title]="midcapDonut.title"></apx-chart>
            </div>
        </div>
        <div class="chart-inner-wrap">
            <div class="chart">
                <apx-chart [series]="midcapShortTerm.series" [chart]="midcapShortTerm.chart" [labels]="midcapShortTerm.labels"
                    [responsive]="midcapShortTerm.responsive" [title]="midcapShortTerm.title"></apx-chart>
            </div>
        </div>

        <div class="chart-inner-wrap">
            <div class="chart">
                <apx-chart [series]="midcapIndexElement.series" [chart]="midcapIndexElement.chart"
                    [labels]="midcapIndexElement.labels" [responsive]="midcapIndexElement.responsive"
                    [title]="midcapIndexElement.title"></apx-chart>
            </div>
        </div>
    </div>
</div>

<div class="chart-wrap">
    <h3>Small cap</h3>
    <div class="chart-outer-wrap">
        <div class="chart-inner-wrap">
            <div class="chart">
                <apx-chart [series]="smallcapDonut.series" [chart]="smallcapDonut.chart" [labels]="smallcapDonut.labels"
                    [responsive]="smallcapDonut.responsive" [title]="smallcapDonut.title"></apx-chart>
            </div>
        </div>
        <div class="chart-inner-wrap">
            <div class="chart">
                <apx-chart [series]="smallcapShortTerm.series" [chart]="smallcapShortTerm.chart" [labels]="smallcapShortTerm.labels"
                    [responsive]="smallcapShortTerm.responsive" [title]="smallcapShortTerm.title"></apx-chart>
            </div>
        </div>

        <div class="chart-inner-wrap">
            <div class="chart">
                <apx-chart [series]="smallcapIndexElement.series" [chart]="smallcapIndexElement.chart"
                    [labels]="smallcapIndexElement.labels" [responsive]="smallcapIndexElement.responsive"
                    [title]="smallcapIndexElement.title"></apx-chart>
            </div>
        </div>
    </div>
</div>

<div class="chart-wrap">
    <h3>Global Markets performance:</h3>
    <h4>European Markets</h4>
    <div class="chart-outer-wrap">
        <div class="chart-inner-wrap">
            <div class="chart">
                <apx-chart [series]="europeonDonut.series" [chart]="europeonDonut.chart" [labels]="europeonDonut.labels"
                    [responsive]="europeonDonut.responsive" [title]="europeonDonut.title"></apx-chart>
            </div>
        </div>
        <div class="chart-inner-wrap">
            <div class="chart">
                <apx-chart [series]="europeonShortTerm.series" [chart]="europeonShortTerm.chart" [labels]="europeonShortTerm.labels"
                    [responsive]="europeonShortTerm.responsive" [title]="europeonShortTerm.title"></apx-chart>
            </div>
        </div>
    </div>
</div>

<div class="chart-wrap">
    <h4>Emerging Markets</h4>
    <div class="chart-outer-wrap">
        <div class="chart-inner-wrap">
            <div class="chart">
                <apx-chart [series]="emergingDonut.series" [chart]="emergingDonut.chart" [labels]="emergingDonut.labels"
                    [responsive]="emergingDonut.responsive" [title]="emergingDonut.title"></apx-chart>
            </div>
        </div>
        <div class="chart-inner-wrap">
            <div class="chart">
                <apx-chart [series]="emergingShortTerm.series" [chart]="emergingShortTerm.chart" [labels]="emergingShortTerm.labels"
                    [responsive]="emergingShortTerm.responsive" [title]="emergingShortTerm.title"></apx-chart>
            </div>
        </div>
    </div>
</div>

<div class="chart-wrap">
    <h4>South American Markets</h4>
    <div class="chart-outer-wrap">
        <div class="chart-inner-wrap">
            <div class="chart">
                <apx-chart [series]="southAmericanDonut.series" [chart]="southAmericanDonut.chart" [labels]="southAmericanDonut.labels"
                    [responsive]="southAmericanDonut.responsive" [title]="southAmericanDonut.title"></apx-chart>
            </div>
        </div>
        <div class="chart-inner-wrap">
            <div class="chart">
                <apx-chart [series]="southAmericanShortTerm.series" [chart]="southAmericanShortTerm.chart" [labels]="southAmericanShortTerm.labels"
                    [responsive]="southAmericanShortTerm.responsive" [title]="southAmericanShortTerm.title"></apx-chart>
            </div>
        </div>
    </div>
</div>