<h1 class="text-center">
    Insights for {{date | date}}
</h1>
<mat-dialog-content>
    <div class="chart-group">
        <h3>Summary:</h3>
        <div class="chart-wrap">
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart-title">
                        In the short term:
                    </div>
                    <div class="chart">
                        <apx-chart [series]="shortTerm.series" [chart]="shortTerm.chart" [labels]="shortTerm.labels"
                            [grid]="shortTerm.grid" [plotOptions]="shortTerm.plotOptions"
                            [responsive]="shortTerm.responsive"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart-title">
                        In the intermediate term:
                    </div>
                    <div class="chart">
                        <apx-chart [series]="intermediateTerm.series" [chart]="intermediateTerm.chart"
                            [labels]="intermediateTerm.labels" [responsive]="intermediateTerm.responsive"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart-title">
                        In the long term:
                    </div>
                    <div class="chart">
                        <apx-chart [series]="longTerm.series" [chart]="longTerm.chart" [labels]="longTerm.labels"
                            [responsive]="longTerm.responsive"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="chart-group">
        <h3>Index performance:</h3>
        <div class="chart-wrap">
            <h4>Dow 30:</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="dowDonut.series" [chart]="dowDonut.chart" [labels]="dowDonut.labels"
                            [responsive]="dowDonut.responsive" [title]="dowDonut.title"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="dowShortTerm.series" [chart]="dowShortTerm.chart"
                            [labels]="dowShortTerm.labels" [responsive]="dowShortTerm.responsive"
                            [grid]="dowShortTerm.grid" [plotOptions]="dowShortTerm.plotOptions"
                            [title]="dowShortTerm.title"></apx-chart>
                    </div>
                </div>

                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="dowIndexElement.series" [chart]="dowIndexElement.chart"
                            [labels]="dowIndexElement.labels" [responsive]="dowIndexElement.responsive"
                            [title]="dowIndexElement.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>

        <div class="chart-wrap">
            <h3>S&P 500:</h3>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="sandpDonut.series" [chart]="sandpDonut.chart" [labels]="sandpDonut.labels"
                            [responsive]="sandpDonut.responsive" [title]="sandpDonut.title"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="sandpShortTerm.series" [chart]="sandpShortTerm.chart"
                            [labels]="sandpShortTerm.labels" [responsive]="sandpShortTerm.responsive"
                            [grid]="sandpShortTerm.grid" [plotOptions]="sandpShortTerm.plotOptions"
                            [title]="sandpShortTerm.title"></apx-chart>
                    </div>
                </div>

                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="sandpIndexElement.series" [chart]="sandpIndexElement.chart"
                            [labels]="sandpIndexElement.labels" [responsive]="sandpIndexElement.responsive"
                            [title]="sandpIndexElement.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>

        <div class="chart-wrap">
            <h3>NASDAQ</h3>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="nasdaqDonut.series" [chart]="nasdaqDonut.chart"
                            [labels]="nasdaqDonut.labels" [responsive]="nasdaqDonut.responsive"
                            [title]="nasdaqDonut.title"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="nasdaqShortTerm.series" [chart]="nasdaqShortTerm.chart"
                            [labels]="nasdaqShortTerm.labels" [responsive]="nasdaqShortTerm.responsive"
                            [grid]="nasdaqShortTerm.grid" [plotOptions]="nasdaqShortTerm.plotOptions"
                            [title]="nasdaqShortTerm.title"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="nasdaqIndexElement.series" [chart]="nasdaqIndexElement.chart"
                            [labels]="nasdaqIndexElement.labels" [responsive]="nasdaqIndexElement.responsive"
                            [title]="nasdaqIndexElement.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>

        <div class="chart-wrap">
            <h3>MidCap</h3>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="midcapDonut.series" [chart]="midcapDonut.chart"
                            [labels]="midcapDonut.labels" [responsive]="midcapDonut.responsive"
                            [title]="midcapDonut.title"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="midcapShortTerm.series" [chart]="midcapShortTerm.chart"
                            [labels]="midcapShortTerm.labels" [responsive]="midcapShortTerm.responsive"
                            [grid]="midcapShortTerm.grid" [plotOptions]="midcapShortTerm.plotOptions"
                            [title]="midcapShortTerm.title"></apx-chart>
                    </div>
                </div>

                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="midcapIndexElement.series" [chart]="midcapIndexElement.chart"
                            [labels]="midcapIndexElement.labels" [responsive]="midcapIndexElement.responsive"
                            [title]="midcapIndexElement.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>

        <div class="chart-wrap">
            <h3>Small cap</h3>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="smallcapDonut.series" [chart]="smallcapDonut.chart"
                            [labels]="smallcapDonut.labels" [responsive]="smallcapDonut.responsive"
                            [title]="smallcapDonut.title"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="smallcapShortTerm.series" [chart]="smallcapShortTerm.chart"
                            [labels]="smallcapShortTerm.labels" [responsive]="smallcapShortTerm.responsive"
                            [grid]="smallcapShortTerm.grid" [plotOptions]="smallcapShortTerm.plotOptions"
                            [title]="smallcapShortTerm.title"></apx-chart>
                    </div>
                </div>

                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="smallcapIndexElement.series" [chart]="smallcapIndexElement.chart"
                            [labels]="smallcapIndexElement.labels" [responsive]="smallcapIndexElement.responsive"
                            [title]="smallcapIndexElement.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="chart-group">
        <h3>Global Markets performance:</h3>
        <div class="chart-wrap">
            <h4>European Markets</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="europeonDonut.series" [chart]="europeonDonut.chart"
                            [labels]="europeonDonut.labels" [responsive]="europeonDonut.responsive"
                            [title]="europeonDonut.title"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="europeonShortTerm.series" [chart]="europeonShortTerm.chart"
                            [labels]="europeonShortTerm.labels" [grid]="europeonShortTerm.grid"
                            [plotOptions]="europeonShortTerm.plotOptions" [responsive]="europeonShortTerm.responsive"
                            [title]="europeonShortTerm.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>

        <div class="chart-wrap">
            <h4>Emerging Markets</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="emergingDonut.series" [chart]="emergingDonut.chart"
                            [labels]="emergingDonut.labels" [responsive]="emergingDonut.responsive"
                            [title]="emergingDonut.title"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="emergingShortTerm.series" [chart]="emergingShortTerm.chart"
                            [labels]="emergingShortTerm.labels" [responsive]="emergingShortTerm.responsive"
                            [grid]="emergingShortTerm.grid" [plotOptions]="emergingShortTerm.plotOptions"
                            [title]="emergingShortTerm.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>

        <div class="chart-wrap">
            <h4>South American Markets</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="southAmericanDonut.series" [chart]="southAmericanDonut.chart"
                            [labels]="southAmericanDonut.labels" [responsive]="southAmericanDonut.responsive"
                            [title]="southAmericanDonut.title"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="southAmericanShortTerm.series" [chart]="southAmericanShortTerm.chart"
                            [labels]="southAmericanShortTerm.labels" [responsive]="southAmericanShortTerm.responsive"
                            [grid]="southAmericanShortTerm.grid" [plotOptions]="southAmericanShortTerm.plotOptions"
                            [title]="southAmericanShortTerm.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="chart-group">
        <h3>Sector performance:</h3>
        <div class="chart-wrap">
            <h4>Biotechnology</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="biotechnologyDonut.series" [chart]="biotechnologyDonut.chart"
                            [labels]="biotechnologyDonut.labels" [responsive]="biotechnologyDonut.responsive"
                            [title]="biotechnologyDonut.title" [grid]="biotechnologyDonut.grid"
                            [plotOptions]="biotechnologyDonut.plotOptions"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="biotechnologyShortTerm.series" [chart]="biotechnologyShortTerm.chart"
                            [labels]="biotechnologyShortTerm.labels" [responsive]="biotechnologyShortTerm.responsive"
                            [grid]="biotechnologyShortTerm.grid" [plotOptions]="biotechnologyShortTerm.plotOptions"
                            [title]="biotechnologyShortTerm.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>Semiconductor</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="semiconductorDonut.series" [chart]="semiconductorDonut.chart"
                            [labels]="semiconductorDonut.labels" [responsive]="semiconductorDonut.responsive"
                            [title]="semiconductorDonut.title" [grid]="semiconductorDonut.grid"
                            [plotOptions]="semiconductorDonut.plotOptions"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="semiconductorShortTerm.series" [chart]="semiconductorShortTerm.chart"
                            [labels]="semiconductorShortTerm.labels" [responsive]="semiconductorShortTerm.responsive"
                            [grid]="semiconductorShortTerm.grid" [plotOptions]="semiconductorShortTerm.plotOptions"
                            [title]="semiconductorShortTerm.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>Airlines</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="airlineDonut.series" [chart]="airlineDonut.chart"
                            [labels]="airlineDonut.labels" [responsive]="airlineDonut.responsive"
                            [title]="airlineDonut.title" [grid]="airlineDonut.grid"
                            [plotOptions]="airlineDonut.plotOptions"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="airlineShortTerm.series" [chart]="airlineShortTerm.chart"
                            [labels]="airlineShortTerm.labels" [responsive]="airlineShortTerm.responsive"
                            [grid]="airlineShortTerm.grid" [plotOptions]="airlineShortTerm.plotOptions"
                            [title]="airlineShortTerm.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>Regional Banks</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="regionalBankDonut.series" [chart]="regionalBankDonut.chart"
                            [labels]="regionalBankDonut.labels" [responsive]="regionalBankDonut.responsive"
                            [title]="regionalBankDonut.title" [grid]="regionalBankDonut.grid"
                            [plotOptions]="regionalBankDonut.plotOptions"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="regionalBankShortTerm.series" [chart]="regionalBankShortTerm.chart"
                            [labels]="regionalBankShortTerm.labels" [responsive]="regionalBankShortTerm.responsive"
                            [grid]="regionalBankShortTerm.grid" [plotOptions]="regionalBankShortTerm.plotOptions"
                            [title]="regionalBankShortTerm.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>

        <div class="chart-wrap">
            <h4>Solar</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="solarDonut.series" [chart]="solarDonut.chart" [labels]="solarDonut.labels"
                            [responsive]="solarDonut.responsive" [title]="solarDonut.title" [grid]="solarDonut.grid"
                            [plotOptions]="solarDonut.plotOptions"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="solarShortTerm.series" [chart]="solarShortTerm.chart"
                            [labels]="solarShortTerm.labels" [responsive]="solarShortTerm.responsive"
                            [grid]="solarShortTerm.grid" [plotOptions]="solarShortTerm.plotOptions"
                            [title]="solarShortTerm.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>Healthcare</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="healthcareDonut.series" [chart]="healthcareDonut.chart"
                            [labels]="healthcareDonut.labels" [responsive]="healthcareDonut.responsive"
                            [title]="healthcareDonut.title" [grid]="healthcareDonut.grid"
                            [plotOptions]="healthcareDonut.plotOptions"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="healthcareShortTerm.series" [chart]="healthcareShortTerm.chart"
                            [labels]="healthcareShortTerm.labels" [responsive]="healthcareShortTerm.responsive"
                            [grid]="healthcareShortTerm.grid" [plotOptions]="healthcareShortTerm.plotOptions"
                            [title]="healthcareShortTerm.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>Homebuilder</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="builderDonut.series" [chart]="builderDonut.chart"
                            [labels]="builderDonut.labels" [responsive]="builderDonut.responsive"
                            [title]="builderDonut.title" [grid]="builderDonut.grid"
                            [plotOptions]="builderDonut.plotOptions"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="builderShortTerm.series" [chart]="builderShortTerm.chart"
                            [labels]="builderShortTerm.labels" [responsive]="builderShortTerm.responsive"
                            [grid]="builderShortTerm.grid" [plotOptions]="builderShortTerm.plotOptions"
                            [title]="builderShortTerm.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>Materials</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="materialDonut.series" [chart]="materialDonut.chart"
                            [labels]="materialDonut.labels" [responsive]="materialDonut.responsive"
                            [title]="materialDonut.title" [grid]="materialDonut.grid"
                            [plotOptions]="materialDonut.plotOptions"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="materialShortTerm.series" [chart]="materialShortTerm.chart"
                            [labels]="materialShortTerm.labels" [responsive]="materialShortTerm.responsive"
                            [grid]="materialShortTerm.grid" [plotOptions]="materialShortTerm.plotOptions"
                            [title]="materialShortTerm.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>Communications</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="communicationDonut.series" [chart]="communicationDonut.chart"
                            [labels]="communicationDonut.labels" [responsive]="communicationDonut.responsive"
                            [title]="communicationDonut.title" [grid]="communicationDonut.grid"
                            [plotOptions]="communicationDonut.plotOptions"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="communicationShortTerm.series" [chart]="communicationShortTerm.chart"
                            [labels]="communicationShortTerm.labels" [responsive]="communicationShortTerm.responsive"
                            [grid]="communicationShortTerm.grid" [plotOptions]="communicationShortTerm.plotOptions"
                            [title]="communicationShortTerm.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>Financials</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="financialDonut.series" [chart]="financialDonut.chart"
                            [labels]="financialDonut.labels" [responsive]="financialDonut.responsive"
                            [title]="financialDonut.title" [grid]="financialDonut.grid"
                            [plotOptions]="financialDonut.plotOptions"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="financialShortTerm.series" [chart]="financialShortTerm.chart"
                            [labels]="financialShortTerm.labels" [responsive]="financialShortTerm.responsive"
                            [grid]="financialShortTerm.grid" [plotOptions]="financialShortTerm.plotOptions"
                            [title]="financialShortTerm.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>Technology</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="technologyDonut.series" [chart]="technologyDonut.chart"
                            [labels]="technologyDonut.labels" [responsive]="technologyDonut.responsive"
                            [title]="technologyDonut.title" [grid]="technologyDonut.grid"
                            [plotOptions]="technologyDonut.plotOptions"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="technologyShortTerm.series" [chart]="technologyShortTerm.chart"
                            [labels]="technologyShortTerm.labels" [responsive]="technologyShortTerm.responsive"
                            [grid]="technologyShortTerm.grid" [plotOptions]="technologyShortTerm.plotOptions"
                            [title]="technologyShortTerm.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>Real Estate</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="realEstateDonut.series" [chart]="realEstateDonut.chart"
                            [labels]="realEstateDonut.labels" [responsive]="realEstateDonut.responsive"
                            [title]="realEstateDonut.title" [grid]="realEstateDonut.grid"
                            [plotOptions]="realEstateDonut.plotOptions"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="realEstateShortTerm.series" [chart]="realEstateShortTerm.chart"
                            [labels]="realEstateShortTerm.labels" [responsive]="realEstateShortTerm.responsive"
                            [grid]="realEstateShortTerm.grid" [plotOptions]="realEstateShortTerm.plotOptions"
                            [title]="realEstateShortTerm.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>Consumer Discretionary</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="consumerDicretionDonut.series" [chart]="consumerDicretionDonut.chart"
                            [labels]="consumerDicretionDonut.labels" [responsive]="consumerDicretionDonut.responsive"
                            [title]="consumerDicretionDonut.title" [grid]="consumerDicretionDonut.grid"
                            [plotOptions]="consumerDicretionDonut.plotOptions"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="consumerDicretionShortTerm.series"
                            [chart]="consumerDicretionShortTerm.chart" [labels]="consumerDicretionShortTerm.labels"
                            [responsive]="consumerDicretionShortTerm.responsive"
                            [grid]="consumerDicretionShortTerm.grid"
                            [plotOptions]="consumerDicretionShortTerm.plotOptions"
                            [title]="consumerDicretionShortTerm.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>Consumer Staples</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="consumerStapleDonut.series" [chart]="consumerStapleDonut.chart"
                            [labels]="consumerStapleDonut.labels" [responsive]="consumerStapleDonut.responsive"
                            [title]="consumerStapleDonut.title" [grid]="consumerStapleDonut.grid"
                            [plotOptions]="consumerStapleDonut.plotOptions"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="consumerStapleShortTerm.series" [chart]="consumerStapleShortTerm.chart"
                            [labels]="consumerStapleShortTerm.labels" [responsive]="consumerStapleShortTerm.responsive"
                            [grid]="consumerStapleShortTerm.grid" [plotOptions]="consumerStapleShortTerm.plotOptions"
                            [title]="consumerStapleShortTerm.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>Energy</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="energyDonut.series" [chart]="energyDonut.chart"
                            [labels]="energyDonut.labels" [responsive]="energyDonut.responsive"
                            [title]="energyDonut.title" [grid]="energyDonut.grid"
                            [plotOptions]="energyDonut.plotOptions"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="energyShortTerm.series" [chart]="energyShortTerm.chart"
                            [labels]="energyShortTerm.labels" [responsive]="energyShortTerm.responsive"
                            [grid]="energyShortTerm.grid" [plotOptions]="energyShortTerm.plotOptions"
                            [title]="energyShortTerm.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>Oil & Gas</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="OilGasDonut.series" [chart]="OilGasDonut.chart"
                            [labels]="OilGasDonut.labels" [responsive]="OilGasDonut.responsive"
                            [title]="OilGasDonut.title" [grid]="OilGasDonut.grid"
                            [plotOptions]="OilGasDonut.plotOptions"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="OilGasShortTerm.series" [chart]="OilGasShortTerm.chart"
                            [labels]="OilGasShortTerm.labels" [responsive]="OilGasShortTerm.responsive"
                            [grid]="OilGasShortTerm.grid" [plotOptions]="OilGasShortTerm.plotOptions"
                            [title]="OilGasShortTerm.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>Retail</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="retailDonut.series" [chart]="retailDonut.chart"
                            [labels]="retailDonut.labels" [responsive]="retailDonut.responsive"
                            [title]="retailDonut.title" [grid]="retailDonut.grid"
                            [plotOptions]="retailDonut.plotOptions"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="retailShortTerm.series" [chart]="retailShortTerm.chart"
                            [labels]="retailShortTerm.labels" [responsive]="retailShortTerm.responsive"
                            [grid]="retailShortTerm.grid" [plotOptions]="retailShortTerm.plotOptions"
                            [title]="retailShortTerm.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>Industrials</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="industrialDonut.series" [chart]="industrialDonut.chart"
                            [labels]="industrialDonut.labels" [responsive]="industrialDonut.responsive"
                            [title]="industrialDonut.title" [grid]="industrialDonut.grid"
                            [plotOptions]="industrialDonut.plotOptions"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="industrialShortTerm.series" [chart]="industrialShortTerm.chart"
                            [labels]="industrialShortTerm.labels" [responsive]="industrialShortTerm.responsive"
                            [grid]="industrialShortTerm.grid" [plotOptions]="industrialShortTerm.plotOptions"
                            [title]="industrialShortTerm.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>Utilities</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="utilityDonut.series" [chart]="utilityDonut.chart"
                            [labels]="utilityDonut.labels" [responsive]="utilityDonut.responsive"
                            [title]="utilityDonut.title" [grid]="utilityDonut.grid"
                            [plotOptions]="utilityDonut.plotOptions"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="utilityShortTerm.series" [chart]="utilityShortTerm.chart"
                            [labels]="utilityShortTerm.labels" [responsive]="utilityShortTerm.responsive"
                            [grid]="utilityShortTerm.grid" [plotOptions]="utilityShortTerm.plotOptions"
                            [title]="utilityShortTerm.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>Commodities Index</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="commodityIndexDonut.series" [chart]="commodityIndexDonut.chart"
                            [labels]="commodityIndexDonut.labels" [responsive]="commodityIndexDonut.responsive"
                            [title]="commodityIndexDonut.title" [grid]="commodityIndexDonut.grid"
                            [plotOptions]="commodityIndexDonut.plotOptions"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="commodityIndexShortTerm.series" [chart]="commodityIndexShortTerm.chart"
                            [labels]="commodityIndexShortTerm.labels" [responsive]="commodityIndexShortTerm.responsive"
                            [grid]="commodityIndexShortTerm.grid" [plotOptions]="commodityIndexShortTerm.plotOptions"
                            [title]="commodityIndexShortTerm.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>20 Year Treasury</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="treasuryDonut.series" [chart]="treasuryDonut.chart"
                            [labels]="treasuryDonut.labels" [responsive]="treasuryDonut.responsive"
                            [title]="treasuryDonut.title" [grid]="treasuryDonut.grid"
                            [plotOptions]="treasuryDonut.plotOptions"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="treasuryShortTerm.series" [chart]="treasuryShortTerm.chart"
                            [labels]="treasuryShortTerm.labels" [responsive]="treasuryShortTerm.responsive"
                            [grid]="treasuryShortTerm.grid" [plotOptions]="treasuryShortTerm.plotOptions"
                            [title]="treasuryShortTerm.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>Gold </h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="goldDonut.series" [chart]="goldDonut.chart" [labels]="goldDonut.labels"
                            [responsive]="goldDonut.responsive" [title]="goldDonut.title" [grid]="goldDonut.grid"
                            [plotOptions]="goldDonut.plotOptions"></apx-chart>
                    </div>
                </div>
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="goldShortTerm.series" [chart]="goldShortTerm.chart"
                            [labels]="goldShortTerm.labels" [responsive]="goldShortTerm.responsive"
                            [grid]="goldShortTerm.grid" [plotOptions]="goldShortTerm.plotOptions"
                            [title]="goldShortTerm.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="chart-group">
        <h3>Index movement map:</h3>
        <div class="chart-wrap">
            <h4>Dow</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="dowBarChart.series" [chart]="dowBarChart.chart"
                            [dataLabels]="dowBarChart.dataLabels" [plotOptions]="dowBarChart.plotOptions"
                            [yaxis]="dowBarChart.yaxis" [xaxis]="dowBarChart.xaxis" [fill]="dowBarChart.fill"
                            [title]="dowBarChart.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>S&P</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="spBarChart.series" [chart]="spBarChart.chart"
                            [dataLabels]="spBarChart.dataLabels" [plotOptions]="spBarChart.plotOptions"
                            [yaxis]="spBarChart.yaxis" [xaxis]="spBarChart.xaxis" [fill]="spBarChart.fill"
                            [title]="spBarChart.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>Nasdaq</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="nasdaqBarChart.series" [chart]="nasdaqBarChart.chart"
                            [dataLabels]="nasdaqBarChart.dataLabels" [plotOptions]="nasdaqBarChart.plotOptions"
                            [yaxis]="nasdaqBarChart.yaxis" [xaxis]="nasdaqBarChart.xaxis" [fill]="nasdaqBarChart.fill"
                            [title]="nasdaqBarChart.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>Midcap</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="midcapBarChart.series" [chart]="midcapBarChart.chart"
                            [dataLabels]="midcapBarChart.dataLabels" [plotOptions]="midcapBarChart.plotOptions"
                            [yaxis]="midcapBarChart.yaxis" [xaxis]="midcapBarChart.xaxis" [fill]="midcapBarChart.fill"
                            [title]="midcapBarChart.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>Small Cap</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="smallcapBarChart.series" [chart]="smallcapBarChart.chart"
                            [dataLabels]="smallcapBarChart.dataLabels" [plotOptions]="smallcapBarChart.plotOptions"
                            [yaxis]="smallcapBarChart.yaxis" [xaxis]="smallcapBarChart.xaxis"
                            [fill]="smallcapBarChart.fill" [title]="smallcapBarChart.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="chart-group">
        <h3>Sector Heat map:</h3>
        <div class="chart-wrap">
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="sectorHeatMap.series" [chart]="sectorHeatMap.chart"
                            [dataLabels]="sectorHeatMap.dataLabels" [plotOptions]="sectorHeatMap.plotOptions"
                            [yaxis]="sectorHeatMap.yaxis" [xaxis]="sectorHeatMap.xaxis" [fill]="sectorHeatMap.fill"
                            [title]="sectorHeatMap.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="chart-group">
        <h3>Industry heat map:</h3>
        <div class="chart-wrap">
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="industryHeatMap.series" [chart]="industryHeatMap.chart"
                            [dataLabels]="industryHeatMap.dataLabels" [colors]="industryHeatMap.colors"
                            [grid]="industryHeatMap.grid" [xaxis]="industryHeatMap.xaxis"
                            [title]="industryHeatMap.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="chart-group">
        <h3>Thematics heat map:</h3>
        <div class="chart-wrap">
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="thematicHeatMap.series" [chart]="thematicHeatMap.chart"
                            [dataLabels]="thematicHeatMap.dataLabels" [colors]="thematicHeatMap.colors"
                            [grid]="thematicHeatMap.grid" [xaxis]="thematicHeatMap.xaxis"
                            [title]="thematicHeatMap.title"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="chart-group">
        <h3>Market Breadth:</h3>
        <div class="chart-wrap">
            <h4>Exchange level up down</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="exchangeLevelUpdown.series" [chart]="exchangeLevelUpdown.chart"
                            [dataLabels]="exchangeLevelUpdown.dataLabels" [plotOptions]="exchangeLevelUpdown.plotOptions"
                            [yaxis]="exchangeLevelUpdown.yaxis" [xaxis]="exchangeLevelUpdown.xaxis"
                            [fill]="exchangeLevelUpdown.fill" [title]="exchangeLevelUpdown.title"></apx-chart>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>Exchange level bullish</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="exchangeLevelBullish.series" [chart]="exchangeLevelBullish.chart"
                            [dataLabels]="exchangeLevelBullish.dataLabels" [plotOptions]="exchangeLevelBullish.plotOptions"
                            [yaxis]="exchangeLevelBullish.yaxis" [xaxis]="exchangeLevelBullish.xaxis"
                            [fill]="exchangeLevelBullish.fill" [title]="exchangeLevelBullish.title"></apx-chart>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>Exchange level bearish candle summary</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="exchangeLevelBearish.series" [chart]="exchangeLevelBearish.chart"
                            [dataLabels]="exchangeLevelBearish.dataLabels" [plotOptions]="exchangeLevelBearish.plotOptions"
                            [yaxis]="exchangeLevelBearish.yaxis" [xaxis]="exchangeLevelBearish.xaxis"
                            [fill]="exchangeLevelBearish.fill" [title]="exchangeLevelBearish.title"></apx-chart>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>Exchange level above SMA50 line Chart for past 50 periods</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="exchangeLevelSma50.series" [chart]="exchangeLevelSma50.chart"
                            [dataLabels]="exchangeLevelSma50.dataLabels" [plotOptions]="exchangeLevelSma50.plotOptions"
                            [yaxis]="exchangeLevelSma50.yaxis" [xaxis]="exchangeLevelSma50.xaxis"
                            [fill]="exchangeLevelSma50.fill" [title]="exchangeLevelSma50.title"></apx-chart>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-wrap">
            <h4>Exchange level above SMA200 line Chart for past 50 periods</h4>
            <div class="chart-outer-wrap">
                <div class="chart-inner-wrap">
                    <div class="chart">
                        <apx-chart [series]="exchangeLevelSma200.series" [chart]="exchangeLevelSma200.chart"
                            [dataLabels]="exchangeLevelSma200.dataLabels" [plotOptions]="exchangeLevelSma200.plotOptions"
                            [yaxis]="exchangeLevelSma200.yaxis" [xaxis]="exchangeLevelSma200.xaxis"
                            [fill]="exchangeLevelSma200.fill" [title]="exchangeLevelSma200.title"></apx-chart>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>