<!-- <h2>Tree</h2>
<app-table></app-table>


<h2>Chart</h2>
<app-chart></app-chart> -->

<app-popup-chart></app-popup-chart>


<!-- <button mat-raised-button color="primary" (click)="openPopupChart()">Open Chart</button> -->



<!-- <div class="container m-auto grid grid-cols-1 md:grid-cols-3 gap-4">
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
            <p class="text-gray-700 text-base">
                Lorem ipsum dolor sit amet.
            </p>
        </div>
       
    </div>
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
            <p class="text-gray-700 text-base">
                Lorem ipsum dolor sit amet.
            </p>
        </div>
        
    </div>
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
            <p class="text-gray-700 text-base">
                Lorem ipsum dolor sit amet.
            </p>
        </div>
        
    </div>
</div> -->